
.border-box { box-sizing:border-box; -moz-box-sizing:border-box; }
.slidein {
  display:block;
}
.slidein >div {
    overflow: auto;
    background:white;
    box-shadow: 0px 0px 4px 0px #777A89;
    margin-top: 64px;
    position:absolute;
    z-index:999;
    top:0;
    width:300px;
    bottom:0px;
    .border-box;
    -webkit-transition: -webkit-transform ease 250ms;
}
.slidein > div.visible.right {
    -webkit-transform: translate3d(-300px, 0, 0);
}

.slidein > div.right {
    right:-300px;
}

.slidein > div.left {
  left: -300px;
}

.slidein > div.visible.left {
  -webkit-transform: translate3d(300px, 0, 0);
}

#diagramContainer {
  padding: 20px;
  width:80%; height: 500px;
  border: 1px solid gray;
}

.item {
  box-shadow: 0px 0px 4px 0px #777A89;
  float: left;
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-p50fi1');
  src:url('fonts/icomoon.eot?#iefix-p50fi1') format('embedded-opentype'),
    url('fonts/icomoon.ttf?-p50fi1') format('truetype'),
    url('fonts/icomoon.woff?-p50fi1') format('woff'),
    url('fonts/icomoon.svg?-p50fi1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url('fonts/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("fonts/Roboto-LightItalic.ttf") format('truetype');
}

/* Normal */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url('fonts/Roboto-Italic.ttf') format('truetype');
}

/* Bold */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-expand_more:before {
  content: "\e20b";
}
.icon-bluetooth_audio:before {
  content: "\e215";
}
.icon-wifi:before {
  content: "\e242";
}
.icon-star:before {
  content: "\e260";
}
.icon-star_outline:before {
  content: "\e262";
}
.icon-favorite:before {
  content: "\e291";
}
.icon-favorite_outline:before {
  content: "\e292";
}
.icon-lock_open:before {
  content: "\e2ac";
}
.icon-lock_outline:before {
  content: "\e2ad";
}
.icon-settings_bluetooth:before {
  content: "\e2ce";
}
.icon-reorder:before {
  content: "\e310";
}

.tree-view {
  overflow-y: hidden;
}

.tree-view_item {
  /* immediate child of .tree-view, for styling convenience */
}

/* style for the children nodes container */
.tree-view_children {
  margin-left: 16px;
}

.tree-view_children-collapsed {
  height: 0px;
}

.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* Component that renders log entries */
#log-entry {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /*width: 300px;*/
}

#log-entry > device-info,
#log-entry > status,
#log-entry > device-status,
#log-entry > service-info {
  margin: 0px;
}

#log-entry > device-info {
  display: flex;
  flex-flow: column;
  font-weight: bold;
}

#log-entry > device-status {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#log-entry > service-info {
  display: flex;
  flex-flow: column;
}

#log-entry > service-info -> service-flags {
  display:flex;
  flex-flow: row;
}

#log-entry > service-info > service-flags > service-flag {
  height:20px;
  background: #aaaaaa;
  border-radius: 5px;
  text-align: center;
  overflow-y: auto;
  font-size: 14px;
  padding: 5px 10px 10px 5px;
}

