@import (inline) "css/fontello.css";

.icon-slim:before {
  margin: 0;
  width: auto;
}

.icon-2x {
  font-size: 200%;
}

.icon-encircled {
  border-radius: 50%;
  background-color: rgb(51, 51, 51);
  color: white;
  width: 24px;
  height: 24px;
  display: block;
  padding-left: 2px;
  padding-top: 2px;
}

.icon-foreground {
  overflow: hidden; 
  position:absolute
}

.icon-background {
  color: #aaa;
}

.border-box { box-sizing:border-box; -moz-box-sizing:border-box; }
.slidein {
  display:block;
}
.slidein > div {
    overflow: auto;
    background:white;
    box-shadow: 0px 0px 4px 0px #777A89;
    margin-top: 64px;
    position:absolute;
    z-index:999;
    top:0;
    width:300px;
    bottom:0px;
    .border-box;
    -webkit-transition: -webkit-transform ease 250ms;
}
.slidein > div.visible.right {
    -webkit-transform: translate3d(-300px, 0, 0);
}

.slidein > div.right {
    right:-300px;
}

.slidein > div.left {
  left: -300px;
}

.slidein > div.visible.left {
  -webkit-transform: translate3d(300px, 0, 0);
}

#diagramContainer {
  padding: 20px;
  width:80%; height: 500px;
}

.item {
  box-shadow: 0px 0px 4px 0px #777A89;
  float: left;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url('../font/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../font/Roboto-LightItalic.ttf") format('truetype');
}

/* Normal */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url('../font/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url('../font/Roboto-Italic.ttf') format('truetype');
}

/* Bold */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url('../font/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url('../font/Roboto-BoldItalic.ttf') format('truetype');
}

.tree-view {
  overflow-y: hidden;
}

.tree-view_item {
  /* immediate child of .tree-view, for styling convenience */
}

/* style for the children nodes container */
.tree-view_children {
  margin-left: 16px;
}

.tree-view_children-collapsed {
  height: 0px;
}

.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* Component that renders log entries */
#log-entry {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /*width: 300px;*/
}

#log-entry > device-info,
#log-entry > status,
#log-entry > device-status,
#log-entry > service-info {
  margin: 0px;
}

#log-entry > device-info {
  display: flex;
  flex-flow: column;
  font-weight: bold;
}

#log-entry > device-status {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#log-entry > service-info {
  display: flex;
  flex-flow: column;
}

#log-entry > service-info -> service-flags {
  display:flex;
  flex-flow: row;
}

#log-entry > service-info > service-flags > service-flag {
  height:20px;
  background: #aaaaaa;
  border-radius: 5px;
  text-align: center;
  overflow-y: auto;
  font-size: 14px;
  padding: 5px 10px 10px 5px;
}

#main-area-wrapper {
  background-color: #F2F2F2;
  width: 100%;
}

.nav-bar {
  background-color: #FFF;
  padding: 0;
  
  .nav-bar-element {
      display: inline-block;
      margin: 0 10px;
  }
  a.nav-bar-element {
    cursor: pointer;
    padding: 6px 15px;
    border-radius: 4px;
    border: 1px solid white;
    text-decoration: none;
    &:hover {
      text-decoration: none
    }
    &.active {
      background-color: #d9edf7;
      border-color: #bce8f1;
    }
  }

  .indicator {
    margin-left: 10px;
  }
  .nav-section {
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 0 10px;
    height: 55px;
    &.bl {
      border-left: 1px solid #F2F2F2;
    }
  }
}


table.main-layout {
  width: 100%;
  > tbody > tr:nth-child(1) {
    > td:nth-child(1) {
      box-shadow: inset 0px 0px 10px gray;
    }
    > td:nth-child(2) {
      width: 250px;
      background-color: white;
    }
  }
  > tbody > tr:nth-child(2) > td {
    height: 250px;
  }
  > tbody > tr > td {
    border-top: 1px solid gray;
    vertical-align: top;
  }
}

.indicator {
  display: inline-block;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  border: 1px solid rgb(100, 94, 94);
  &.on {
    background-color: rgb(32, 255, 32);
  }
  &.off {
    background-color: rgb(207, 207, 207)
  }
}

#discoveredDevicesContainer {
  padding: 15px;
  .buttons {
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    button {
      margin-right: 5px;
    }
  }
  .spinner {
    margin-left: 10px;
  }
}

.discovered-device {
  border-bottom: 1px solid lightgrey;
  padding: 4px 0;

  .connect-btn {
    position: absolute;
    right: 12px;
    height: 20px;
    margin-top: 16px;
    color: white;
  }

  .device-flag {
    border-radius: 5px;
    font-size: smaller;
    background: dodgerblue;
    padding: 3px;
    display: inline-block;
    float: left;
    color: white;
    margin-right: 2px;
  }
  .device-body {
    color: grey;
    > div {
      margin-top: 5px;
    }
  }
  .flag-line {
    overflow: hidden;
  }
  .text-small {
    font-size: small;
  }
}

.device-details-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 15px;
}

