
.icon-down-dir:before { content: '\e800'; } /* '' */
.icon-right-dir:before { content: '\e801'; } /* '' */
.icon-wifi:before { content: '\e802'; } /* '' */
.icon-plug:before { content: '\e803'; } /* '' */
.icon-circle:before { content: '\e804'; } /* '' */
.icon-flash:before { content: '\e805'; } /* '' */
.icon-signal:before { content: '\e806'; } /* '' */
.icon-usb:before { content: '\e807'; } /* '' */
.icon-trash:before { content: '\e808'; } /* '' */
.icon-down:before { content: '\e809'; } /* '' */
.icon-to-end:before { content: '\e80a'; } /* '' */
.icon-exchange:before { content: '\e80b'; } /* '' */
.icon-link:before { content: '\e80c'; } /* '' */
.icon-sitemap:before { content: '\e80d'; } /* '' */
.icon-columns:before { content: '\e80e'; } /* '' */
.icon-play:before { content: '\e80f'; } /* '' */
.icon-stop:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-ok-circled:before { content: '\e812'; } /* '' */
.icon-floppy-1:before { content: '\e813'; } /* '' */
.icon-floppy:before { content: '\e814'; } /* '' */
.icon-plus-circled:before { content: '\e815'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-indent-right:before { content: '\e817'; } /* '' */
.icon-arrows-cw:before { content: '\e818'; } /* '' */
.icon-down-circled2:before { content: '\e819'; } /* '' */
.icon-cog:before { content: '\e81a'; } /* '' */
.icon-ccw:before { content: '\e81b'; } /* '' */
.icon-up:before { content: '\e81c'; } /* '' */
.icon-lock:before { content: '\e81d'; } /* '' */
.icon-lock-open:before { content: '\e81e'; } /* '' */
.icon-lock-open-alt:before { content: '\e81f'; } /* '' */
.icon-list-add:before { content: '\e820'; } /* '' */
.icon-link-1:before { content: '\e821'; } /* '' */
.icon-trash-empty:before { content: '\e822'; } /* '' */
.icon-cancel-circled:before { content: '\e823'; } /* '' */
.icon-help:before { content: '\e824'; } /* '' */
.icon-info:before { content: '\e825'; } /* '' */
.icon-attention-alt:before { content: '\e826'; } /* '' */
.icon-edit:before { content: '\e827'; } /* '' */
.icon-star:before { content: '\e828'; } /* '' */
.icon-star-empty:before { content: '\e829'; } /* '' */
.icon-search:before { content: '\e82a'; } /* '' */
.icon-pause:before { content: '\e82b'; } /* '' */
.icon-play-circled2:before { content: '\e82c'; } /* '' */
.icon-play-circled:before { content: '\e82d'; } /* '' */
.icon-unlink:before { content: '\e82e'; } /* '' */
.icon-cancel:before { content: '\e82f'; } /* '' */
.icon-cancel-circled-1:before { content: '\e830'; } /* '' */
.icon-cancel-circled2:before { content: '\e831'; } /* '' */
.icon-key:before { content: '\e832'; } /* '' */
.icon-shield:before { content: '\e833'; } /* '' */
.icon-database:before { content: '\e834'; } /* '' */
.icon-attention:before { content: '\e835'; } /* '' */
.icon-attention-circled:before { content: '\e836'; } /* '' */
.icon-cog-1:before { content: '\e837'; } /* '' */
.icon-cog-alt:before { content: '\e838'; } /* '' */
.icon-wrench:before { content: '\e839'; } /* '' */
.icon-ellipsis-vert:before { content: '\e83a'; } /* '' */
.icon-toggle-on:before { content: '\e83b'; } /* '' */
.icon-toggle-off:before { content: '\e83c'; } /* '' */
.icon-check:before { content: '\e83d'; } /* '' */
.icon-css3:before { content: '\e83e'; } /* '' */
.icon-html5:before { content: '\e83f'; } /* '' */