
.icon-down-dir:before { content: '\e800'; } /* '' */
.icon-right-dir:before { content: '\e801'; } /* '' */
.icon-wifi:before { content: '\e802'; } /* '' */
.icon-plug:before { content: '\e803'; } /* '' */
.icon-circle:before { content: '\e804'; } /* '' */
.icon-flash:before { content: '\e805'; } /* '' */
.icon-signal:before { content: '\e806'; } /* '' */
.icon-usb:before { content: '\e807'; } /* '' */
.icon-trash:before { content: '\e808'; } /* '' */
.icon-down:before { content: '\e809'; } /* '' */
.icon-to-end:before { content: '\e80a'; } /* '' */
.icon-exchange:before { content: '\e80b'; } /* '' */
.icon-link:before { content: '\e80c'; } /* '' */
.icon-sitemap:before { content: '\e80d'; } /* '' */
.icon-columns:before { content: '\e80e'; } /* '' */
.icon-play:before { content: '\e80f'; } /* '' */
.icon-stop:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-ok-circled:before { content: '\e812'; } /* '' */
.icon-floppy-1:before { content: '\e813'; } /* '' */
.icon-floppy:before { content: '\e814'; } /* '' */
.icon-plus-circled:before { content: '\e815'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-indent-right:before { content: '\e817'; } /* '' */
.icon-arrows-cw:before { content: '\e818'; } /* '' */
.icon-down-circled2:before { content: '\e819'; } /* '' */
.icon-cog:before { content: '\e81a'; } /* '' */
.icon-ccw:before { content: '\e81b'; } /* '' */
.icon-up:before { content: '\e81c'; } /* '' */